profiles {

	conda {
		conda.enabled = true
		docker.enabled = false

	}
	
	docker {
		conda.enabled = false
		docker.enabled = true
		process.container = 'rtlabcbm/fidelityfinder_img2:latest' 		
	}

	
    test {
		params.seq_folder_path = "${baseDir}/raw_reads/test/"
        params.ref_seq_path = "${baseDir}/reference_sequences/reference.fasta"
		params.insert_length = "535"
		params.length_tolerance = "20"
		params.minimum_quality_score = "20"
		params.minimum_percent_quality_bases = "90"
		params.cutoff = "2"
		params.threshold = "50"
		params.min_pos = "23"
		params.max_pos = "492"
		params.cpus = "1"
    }

	
	my_profile  {
		params.seq_folder_path = "${baseDir}/raw_reads/"
		params.ref_seq_path = "${baseDir}/reference_sequences/reference.fasta"
		params.insert_length = "536"
		params.length_tolerance = "20"
		params.minimum_quality_score = "20"
		params.minimum_percent_quality_bases = "98"
		params.cutoff = "3"
		params.threshold = "90"
		params.min_pos = "23"
		params.max_pos = "492"
		params.cpus = "10"
    }

	
}