profiles {

	conda {
		conda.enabled = true
		docker.enabled = false

	}
	
	docker {
		conda.enabled = false
		docker.enabled = true
		process.container = 'rtlabcbm/fidelityfinder_img:latest' 		
	}

    test_profile {
		params.seq_folder_path = "${baseDir}/RawData/Test/"
        params.ref_seq_path = "${baseDir}/RefSequence/test_ref_seq.fa"
		params.insert_length = "460"
		params.fw_primer = "CAGGAGCCGATAGACAAGGAAC"
		params.rv_primer = "GGAATGGATGGCCCAAAAGTTAAACTG"
		params.cutoff = "4"
		params.bc_size = "12"
		params.threshold = "0"
		params.min_pos = "62"
		params.max_pos = "531"
    }
	
    test_profile2 {
		params.seq_folder_path = "${baseDir}/RawData/Test2/"
        params.ref_seq_path = "${baseDir}/RefSequence/old_ref_seq.fasta"
		params.insert_length = "535"
		params.fw_primer = "TTCCTACAAGGGAAGGCCAGG"
		params.rv_primer = "GGAATGGATGGCCCAAAAGTTAAAC"
		params.cutoff = "4"
		params.bc_size = "14"
		params.threshold = "0"
		params.min_pos = "62"
		params.max_pos = "531"
    }

	
	okano_profile  {
		params.seq_folder_path = './RawData/'
		params.ref_seq_path = './RefSequence/old_ref_seq.fasta'
		params.insert_length = "535"
		params.fw_primer = "TTCCTACAAGGGAAGGCCAGG"
		params.rv_primer = "GGAATGGATGGCCCAAAAGTTAAAC"
		params.cutoff = "2"
		params.bc_size = "14"
		params.threshold = "0"
		params.min_pos = "62"
		params.max_pos = "529"
    }

	okano_profile_corrected  {
		params.seq_folder_path = './RawData/'
		params.ref_seq_path = './RefSequence/new_ref_seq.fasta'
		params.insert_length = "535"
		params.fw_primer = "TTCCTACAAGGGAAGGCCAGG"
		params.rv_primer = "GGAATGGATGGCCCAAAAGTTAAAC"
		params.cutoff = "2"
		params.bc_size = "14"
		params.threshold = "0.9"
		params.min_pos = "62"
		params.max_pos = "526"
    }
	
	
}